    <div class="container">
      <navbar></navbar>
      <h1 class="display-4 pt-4 text-center font-weight-bold">{{heroHeading}}</h1>
            <p class=" font-weight-bold"> <b>{{heroText}}</b></p>
            <hr class="my-4">
            <div class="d-flex justify-content-between">
            <a class="btn btn-outline-dark " routerLink="/contact" target="" role="button">{{heroBtntext}}</a> 
            <a class="btn btn-outline-dark" routerLink="/cart">Checkout<i class="fas fa-shopping-cart"></i></a>
          </div>
    </div>
   