        <form  class="form m-4">
              <div class="form-group">
                <label for="First Name"> First Name</label>
                <input type="email" class="form-control" id="inputFirst" placeholder="First Name" formControlName="First Name">
              </div>
              <div class="form-group ">
                <label for="Last Name">  Last Name</label>
                <input type="text" class="form-control" id="inputLast" placeholder="Last Name" formControlName="Last Name"  >
              </div>
              <div class="form-group ">
                <label for="Phone Number">Phone Number</label>
                <input type="tel" class="form-control" id="inputTel" placeholder="+00" formControlName="Phone Number"  >
              </div>
            <div class="form-group">
              <label for="E-Mail">E-Mail</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="@email.com" formControlName="E-Mail" >
            </div>
            <div class="form-group">
              <label for="Your Message"> Your Message</label>
              <textarea  style="resize: none;" rows="5"  type="text" class="form-control" placeholder="Your Message" ></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Send Message</button>  
        </form>
       