
<nav class="navbar navbar-expand-lg navbar-light bg-transparent ">
  <div class="container-fluid">
    <a class="name navbar-brand" routerLink="/home">{{projectName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/travel">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/contact">Contact</a>
        </li>
        
      </ul>
    </div>
    </div>
  </nav>
